<p-dialog [(visible)]="visible" (onHide)="onCloseDialog()">
  <ng-template pTemplate="header">{{ title }}</ng-template>
  <ng-template pTemplate="content">
    <span class="p-input-icon-left" id="searchbox">
      <i class="pi pi-search"></i>
      <input
        pInputText
        #searchbar
        type="text"
        placeholder="關鍵字搜尋"
        (input)="dt.filterGlobal(searchbar.value, 'contains')"
        style="width: 100vw"
      />
    </span>
    <p-table
      #dt
      [value]="value"
      [globalFilterFields]="['code', 'display']"
      selectionMode="single"
      [scrollable]="true"
      scrollHeight="400px"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="code">
            代號 <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="display">
            名稱 <p-sortIcon field="display"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-coding>
        <tr
          [pSelectableRow]="coding"
          (dblclick)="onDoubleClick(coding)"
          (click)="onSelectCoding(coding)"
        >
          <td>{{ coding.code }}</td>
          <td>{{ coding.display }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>

  <ng-template pTemplate="footer" class="footer">
    <p-button
      type="button"
      styleClass="p-button-secondary p-button-text"
      (click)="onCloseDialog()"
      >取消</p-button
    >
    <p-button type="button" styleClass="p-button-success" (click)="onOkClick()"
      >確定</p-button
    >
  </ng-template>
</p-dialog>
