:host ::ng-deep {
  & .p-dialog {
    width: 37.5rem;
    height: 37.5rem;

    & .p-dialog-header {
      background-color: #006d50;
      color: white;
      padding: var(--spacing-xs, 4px) var(--spacing-md, 12px);
      height: 2.5rem;
    }

    & .p-dialog-header-icon {
      color: white;
    }

    & .p-dialog-content {
      padding-top: 1rem;
      padding-bottom: 0rem;
      height: 31rem;

      & .p-datatable .p-datatable-tbody > tr > td {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }

      & .p-datatable .p-datatable-thead > tr > th {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }

      & #searchbox {
        display: flex;
        margin-bottom: 1rem;
      }

      & tr.p-highlight {
        background-color: #fdd3a4;
        color: black;
      }
    }

    & .p-dialog-footer {
      border-top: 1px solid;
      border-top-color:#B5BFBB;
      height: 4rem;
      padding-top: 0.5rem;

      & .p-button {
        min-width: 5.5rem;
        height: 2.5rem;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
