<p-button (click)="showDialog()">show</p-button>
<lib-coding-dialog
      (changeVisible)="onChangeVisible($event)"
      [value]="value"
      [(coding)]="coding"
      [visible]="visible"
      [title]="title"
    >
  </lib-coding-dialog>


<div>
  <label>Coding:{{ coding?.code }}</label>
  <br>
  <label>Display:{{ coding?.display}}</label>
</div>
